.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  
}

.submit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0 2em 0;
  gap: 15px;
}

button.MuiButton-root.MuiButton-contained {
  margin: 0 1em 0 0;
}

.guess-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 2em;
}

.combo-box {
  margin: 0 2em 0 0;
}

.guess {
  padding-bottom: 4em;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  padding-right: 20px;

}

.app-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-left: 160px;
}

.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.modal-text {
  display: flex;
  gap: 15px;
}

.modal-heart {
  display: flex;
  gap: 20px;
  padding-left: 5px;

}

.game-modal-text {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

#root>div>div.player>div>button:nth-child(1) {
  margin: 0;
}

.play-skip {
  display: flex;
  gap: 10px;
}

/* for confetti */
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 0%;
  left: 5%;
  width: 90%;
  height: 90%;
  z-index: -5;
}

/* hardmode css */
.hardmode_switch {
  position: absolute;
  right: 0;
  bottom: 5%;
}

.css-1hpqosy-MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-size: 1em;
}

#modal-modal-title {
  display: flex;
  align-items: center;
  gap: 1px;
}

#modal-modal-description {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1.5em;
}

.streaks, .scores {
  display: flex;
  justify-content: space-evenly;
}

.individual-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 820px) {
  .app-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0;
  }
}

#root > div > div.player > div > div > div {
  
}

.hardmode-parent {
  display: flex;
  justify-content: center;
}

.flames {
  position: absolute;
  bottom: 44px;
}

.search {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-right: 7.1em;
}