.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 15em 2em 15em;
  gap: 15px;
}

button.MuiButton-root.MuiButton-contained {
  margin: 0 1em 0 0;
}

.guess-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 2em;
}

.combo-box {
  margin: 0 2em 0 0;
}

.guess {
  padding-bottom: 4em;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

}

.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-text {
  display: flex;
  gap: 15px;
}

.modal-heart {
  display: flex;
  gap: 20px;
  padding-left: 5px;

}

.game-modal-text {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

