* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 1em;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.login_button {
  background-color: #18D860;
  color: white;
  padding: 1rem;
  border-radius: 9999px;
  border: none;
  width: 200px
}